header{
  barckground: #BBBBBB;
  padding: 20px 0;
}
.caixa{
  position: relative;
  width: 940px;
  margin: 0 auto;
}
 nav{
   position: absolut;
   top: 110px;
   rigth: 0;
 }
navi li{
  display: inline;
  margin: 0 0 0 15px;
}
nav a{
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-size: : 22px;
  text-decoration: none;
}  
.produtos {
  width: 940xp;
  margin: 0 auto;
  padding: 50px 0;
}
.produtos li {
  display
