*{
  margin: 0;
  padding: 0;
}
body { 

#banner {
  width: 100%;
}
.principal{
  background-color: #808080;
  padding: 80px;
}
h1{
  text-align: center
}
p { 
  text-align: center;
}
em strong {
  color: purple;
}
p {
  font-size: 40xp;
}
 #missao { 
font-size: 30px;
}
.itens{
  font-style: italic;
}
.beneficios{
  background: #FFFFFF;
  padding: 40px;
}
h2{
  text align: center;
}
ul{
  display: inline-block;
  vertical-align: top;
  width: 0%;
  margin-right: 15%;
}
.imagem-beneficios{
  width: 50%
}
